body {
  display: block;
  font-family: Arial, "sans-serif";
  background-color: white;
  margin: 15px;
}

@font-face {
  font-family: 'xanhmono';
  src: url('../font/XanhMono-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar:horizontal {
  background-color: white;
  border: 0px solid white;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: black;
}

/* Séléction texte */
*::selection {
  color: white;
  background-color: black;
}

/* Liens */
a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
  background-color: none;
  cursor: ne-resize;
}

/* Texte */
h1 {
font-weight: 400;
  color: white;
  font-size: 35px;
  /*margin-top: 50px;
  margin-bottom: -15px;*/
}

p, a, input {
  color: black;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

/* Projets */
.projets {
  width: auto;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x none;
}

.texte {
  color: black;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: -15px;
    
}

.texteprojet {
  color: black;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -15px;
    
}

.image {
  height: 75vh;
  margin: 5px;
  scroll-snap-align: start;
}

.boutonScroll {
  width: 100%;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

.menu {
  height: 100vh;
}

.work {   
    position: fixed;
    /*float: right;*/
    /*text-align: center;*/
    transform: translate(-50%, -50%);
    top:95vh;
    right: 0px;
mix-blend-mode: difference;
    color: black;
    
}

.about {
    position: fixed;
    text-align: center;
top: 91vh;
 mix-blend-mode: difference;
}